html,
body {
  background: white;
  color: black;
  font-family: 'sans-serif', monospace;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 20px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin: 10px 0 0;
  opacity: 0.5;
}

button:focus {
  outline: 0;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 16px;
}
