<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Quiz 3 title</title>
  </head>
  <body class="main-quiz">
    <h1>QUIZ 3</h1>
    <p class="load">quiz loaded</p>
  </body>
</html>
