@import 'scss/main.scss';
@import 'scss/fonts.scss';

.main-quiz-2 {
  height: 100vh;
  width: 100vw;
  font-family: 'DancingScript-VariableFont', monospace;
  background-color: lightsalmon;

  h1 {
    background-color: lightcoral;
  }

  .show {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .load {
    display: none;
  }
}
