.inline {
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: lightcoral;

  h1 {
    background-color: lightpink;
    margin: 0;
    padding: 15px;
    text-align: center;
  }

  .iframe {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 67px);
  }
}