<section class="bulk-pages__home">
  <h1 class="bulk-pages__title">
    Ready to find the perfect pair of shades for that beautiful face of yours?
  </h1>
  <h2>{{someText}}</h2>
  <a class="js-quiz-btn" data-track-name="Bulk Page" data-track="cta" href="javascript:void(0)">Search the bulks</a>
</section>
